@import "mixins";
@import "fonts";
// @import "reset";
@import "libs";
// Font
$mainFont: "Golos";
//develop
$br: 1px solid #bbb;

// Size
$mainFontColor: #101010;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$fullHDWidth: 1920px;
$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

$containerWidth: rem(1170);
//color
$blackTheme: true;
$color: (
  c12182A: #12181a,
  c12172A: #12172a,
  c1B2137: #1b2137,
  cFFFFFF: #ffffff,
  c374166: #374166,
  c212947: #212947,
  c5B6480: #5b6480,
  c252E4E: #252e4e,
  c3B4463: #3b4463,
  cB1C1D6: #b1c1d6,
  bgBtnRed: #b10303,
  bgBtnRedHover: #d22a2a,
  bgBtnBlue: #25a3e0,
  bgBtnBlueHover: #31b8fa,
  borderInput: #d2e2ef,
);
